body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: stretch;
    background-color: #f5f5f5;
}

.container {
    background-color: white;
}

header {
    background-color: #FFAEBD;
    color: white;
    text-align: center;
}

.left {
    background-color: #FFD7DE;
}

.mid {
    background-color: #FFD7DE;
}

.right {
    background-color: #FFD7DE;
}

footer {
    background-color: #F5A5B3;
    color: white;
    text-align: center;

}
