body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: stretch;
    background-color: #E18080;
}
nav a:link,
nav a:visited {
  color: #2f5233;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #234d20;
  text-decoration: underline;
}

.container {
    background-color: white;
}

header {
    background-color: #E14B66;
    color: white;
    text-align: center;
}

.left {
    background-color: #e8e8e8;
}

.mid {
    background-color: #efefef;
}

.right {
    background-color: #d0d0d0;
}

footer {
    background-color: #FD90A4;
    color: white;
    text-align: center;
}